doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/socket.io.min.js', integrity='sha256-jXA3qy04RQ1md6glR29JTsrU0I8osowfPfabUNemVps=')
    script(src='/javascripts/main.js', integrity='sha256-zleeJepv62qtiT2uqeymuUxMiPeFsjv1paqmxLX8v+c=')
