doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    //script.
      var socket = io()
    script(src='/javascripts/main.js', integrity='sha256-kwK4N3oms2skSZICXExzZryT2PJa1OnGTzSKorjuuq8=')
    script(src='/javascripts/socket.io.min.js', integrity='sha256-jXA3qy04RQ1md6glR29JTsrU0I8osowfPfabUNemVps=')
