* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.game-container {
    width: 80vw;
    height: 50vw;
    position: relative;
    outline: 10px solid #ff3030;
    overflow: hidden;
    margin: 20px;
}
.game-map {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}

#game-board-player-resources {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.game-board-player-resources-item {
    display: flex;
    flex-direction: column;
    outline: 1px solid #000000;
    padding: 3px;
    margin: 3px;
}
