* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.game-container {
    width: 80vw;
    height: 50vw;
    position: relative;
    outline: 10px solid #ff3030;
    overflow: hidden;
    margin: 20px;
}

.game-map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.game-map img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.pin-point-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    cursor: pointer;
}

.pin-point-button img {
    width: 30px;
    height: 30px;
    position: relative;
}

.pin-point-button p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: 2px;
    font-size: 12px;
    text-align: center;
    position: relative;
}

#game-board-player-resources {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.game-board-player-resources-item {
    display: flex;
    flex-direction: column;
    outline: 1px solid #000000;
    padding: 3px;
    margin: 3px;
}
