body {
    padding-top: 0px;
}

.content-container {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#join-game-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

h1 {
    padding: 0;
    padding-top: 1%;
}

.select-instance-button {
    padding: 5px 20px;
    font-size: 16px;
    width : 100%;
    background-color: white;
    color: black;
    border-color: black;
    cursor: pointer;
    text-align: left;
}

.selected-instance {
    color: #00B7FF;
    border-color: #00B7FF;
}

.instance-list-container {
    width: 50%;
    text-align: center;
}

.instance-list-container h2 {
    min-height: 50px;
}

.instance-list-item {
    width: 100%;
}

#join-selected-instance-button {
    margin: 10px;
}