body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: "UnZialish";
  src: url(/../font/UnZialish.ttf); /* url of the font */
}

#game-title {
    font-size: 24px;
    font-weight: bold;
    font-family: "UnZialish";
    color: gold;
}

#navigation-bar {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
}

#right-navigation-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

#leave-game-button {
    padding: 8px;
    border: none;
    cursor: pointer;
    background-color: white;;
    border-radius: 15px;
}

.menu-content-container {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-content-container h1 {
    font-size: 64px;
    font-weight: bold;
    font-family: "UnZialish";
    color: gold;
}

#back-to-menu-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: #00B7FF;
    border-color: #00B7FF;
    border-radius: 5px;
    cursor: pointer;
}

.main-button {
    padding: 20px 30px;
    font-size: 20px;
    background-color: #00B7FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
}

.base-button {
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}