.wiki-item {
    width: 95%;
}

.wiki-item-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: solid black 1px;
    padding: 0px 5px;
}

.wiki-item-header .wiki-item-header-img {
    width: 50px;
    height: 50px;
}

.wiki-item-header .wiki-item-header-toggle {
    width: 10px;
    height: 10px;
}

.wiki-item-body img {
    max-height: 20px;
    max-width: 20px;
    vertical-align: middle;
}

.wiki-item-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;
}

.wiki-item.collapsed .wiki-item-body {
    display: none;
}