extends layout

block content
  div(class="menu-content-container")
    h1= title

    input(type="text", id="player-name-input", placeholder="Nom du joueur")
    input(type="password", id="password-name-input", placeholder="Mot de passe")
    button(type='button', id='connect-user-button', class='main-button') Se connecter
    button(type='button', id='back-to-menu-button') Retour Menu
    p(id="player-connect-error-message", hidden=true)

  script(src='/javascripts/connectionPage.js')
