doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/socket.io.min.js', integrity='sha256-jXA3qy04RQ1md6glR29JTsrU0I8osowfPfabUNemVps=')
    script(src='/javascripts/main.js', integrity='sha256-oGyIyerhWkp86O4mxh6Op4ky6+9M8k6mGwg7sptfvyA=')
    script(src='/javascripts/fetch.js', integrity='sha256-EXxs6ueDSMjDqw+trqWw6izJhxr3CdHh9cHC4uT8LkU=')
    script(src='/javascripts/instancePage.js', integrity='sha256-YcwixSFcRtat9S5VGsON1nbqsXOGES3PrSYR5seoiuw=')
