doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/socket.io.min.js', integrity='sha256-jXA3qy04RQ1md6glR29JTsrU0I8osowfPfabUNemVps=')
    script(src='/javascripts/main.js', integrity='sha256-TgpLkWrtoGKo0cebD+0Qm/uPhQDaH9JE0jSva2x1/no=')
    script(src='/javascripts/data.js', integrity='sha256-t2uAJJod1igPbJWPXEyzYpRtzkb4tNFYYfqHVHekGRk=')
    script(src='/javascripts/instancePage.js', integrity='sha256-UL5gR6f8yBQPF6U7/TcgHkztVqo62P6nt8yMAY6wi+E=')
    script(src='/javascripts/gameBoardPage.js', integrity='sha256-NzGn23wtjwglzaFmcoGHUrZBPlgrLE/Phece9P7Ag9k=')
