doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/javascripts/socket.io.min.js')
    script(src='/javascripts/cookie.js')
    script(src='/javascripts/variables.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/data.js')
    
    div(id="user-info-container")
      p
        span Joueur : 
        span(id="user-name")
      
      p
        span ID : 
        span(id="user-id")
      
      p
        span instance ID : 
        span(id="instance-id")

    block content
     
