doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/socket.io.min.js', integrity='sha256-jXA3qy04RQ1md6glR29JTsrU0I8osowfPfabUNemVps=')
    script(src='/javascripts/main.js', integrity='sha256-ltpFpJ1c2LvhDvLtUfqAAkufPfG9gUGNCoFexgdg5eg=')
    script(src='/javascripts/data.js', integrity='sha256-UCgkAqk4kQu8y59L8rxZ7yqTaXL1vkw78x6NW0w4YkQ=')
    script(src='/javascripts/instancePage.js', integrity='sha256-2k3sogzqqFtuzUwuiRni137wvNyRjupvTgS4r34/+m0=')
